{
  "$schema": "https://opencode.ai/config.json",
  "agents": {
    "path": ".opencode/agents"
  },
  "instructions": ".ai/AGENTS.md",
  "autoshare": false,
  "permission": {
    "bash": "ask",
    "edit": "allow",
    "read": "allow",
    "write": "ask",
    "skill": "allow"
  }
}
